*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
    background-color: black;
}
.container-1{
    overflow: hidden;
    width:98vw;
    height: 100vh;
    background: #ffffff url("../Images/bg.jpg") no-repeat;
    background-size: cover;
    border-bottom: 5px solid gray;
}
.title {
    backdrop-filter: brightness(0.6);
    z-index: 9999;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 10px 2px 0 2px ;
}

#logo{
margin: 0px 10px;
}
.title-right select {
    margin: 0 10px;
    color: white;
    padding: 5px 5px 5px 20px ;
    border: 1px solid white;
    border-radius: 1px;
    background-origin: border-box;
    background: url(../Images/globe.svg) no-repeat left center;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.6),
                2px 2px rgba(0, 0, 0, 0.5),
                3px 3px rgba(0, 0, 0, 0.4),
                4px 4px rgba(0, 0, 0, 0.2);   
}
.title-right select option {
    background-color: rgb(182, 180, 180);
    color: white;
}
.title-right select option:hover {
    background-color: rgb(182, 180, 180);
    color: black;
}

.title-right button {
    margin: 0 20px;
    padding: 8px;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: #e50914;
    font-size: 2rem;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6),
                 2px 2px rgba(0, 0, 0, 0.5),
                 3px 3px rgba(0, 0, 0, 0.4),
                 4px 4px rgba(0, 0, 0, 0.2); 
}

.content {
    backdrop-filter: brightness(0.6);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height:90.98%;
}

.title-main {
    width: 40%;
    text-align: center;
}
.content .title-main h1 {
    color: white;
    font-size: 3.125rem;
}
.tag-1 {
    color: white;
    margin: 10px;
    font-size: 1.5rem;
}

.tag-2 {
    color: white;
    margin: 12px;
    font-size: 1.2rem;
}
.main-getstart {
    width: 50vw;
    height: 8vh;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.6),
                2px 2px rgba(0, 0, 0, 0.5),
                3px 3px rgba(0, 0, 0, 0.4),
                4px 4px rgba(0, 0, 0, 0.2); 
}
.email {
    height: 100%;
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 2px 0 0 2px;
}
.btn-getstarted {
    height: 100%;
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 0 2px 2px 0;
    background-color: #f40612;
    font-size: 1rem;
    color: wheat;
    font-weight: 540;
   
}
.container-2 , .container-3 {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 77vh;
    overflow: hidden;
    background-color: black;
    border-bottom: 5px solid gray;
}
.img-tv {
    position: relative;
    width: 60%;
    height: auto;
}

.cont-2-content {
    color: white;
    width: 48%;
    margin-left: 16px;
    padding: 10px;
}
.cont-2-content h1 , .cont-3-content h1 {
    font-size: 3.125rem;
    margin: 10px;
}
.cont-2-content p , .cont-3-content p {
    font-size: 1.5rem;
    margin: 10px;
} 
.img-nf {
    position: absolute; 
    top: 40%;
    left: 20%;
    color: #e50914;
    font-size: 2rem;
    margin-left: 20px;
    text-transform: uppercase;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6),
                 2px 2px rgba(0, 0, 0, 0.5),
                 3px 3px rgba(0, 0, 0, 0.4),
                 4px 4px rgba(0, 0, 0, 0.2);   
}
.img-nf-3 {
    position: absolute; 
    top: 30%;
    left: 24%;
    color: #e50914;
    font-size: 1.4rem;
    margin-left: 20px;
    text-transform: uppercase;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6),
                 2px 2px rgba(0, 0, 0, 0.5),
                 3px 3px rgba(0, 0, 0, 0.4),
                 4px 4px rgba(0, 0, 0, 0.2);   
}

.cont-3-content {
    color: white;
    width: 48%;
    margin-right: 20px;
    padding: 10px;
}

.container-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    background-color: black;
    
}
.cont-5-faq h1 {
    color: white;
    font-size: 3.125rem;
}
.box {
    width: 60%;
    height: 10vh;
    margin: 10px;
    background-color: #303030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2px 20px;
}
.box p {
    color: white;
    font-size: 2rem;
}
.box i {
    font-size: 1.6rem;
}